.Navbar {
  display: flex;
  justify-content:space-between;
  height: 100px;
  padding: 20px;
}
.navbar-container {
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  justify-items: space-around;
  gap: 20px;
}
.Navbar__shopcart-profileavatar.navbar-container {
  align-items: center;
}